@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    justify-content: space-between;
    margin-left: 4vw;
}

.cards {
    box-shadow: 1px 0 2px 1px rgba(207, 207, 207, 0.705);
    width: 28vw;
}

.cards img {
    width: 28vw;
}

.cards h2 {
    font-size: 2.5rem;
    color: #050303;
    line-height: 3.125rem;
    margin: 1vw 2vw;

}

.cards p {
    font-size: 1.6rem;
    line-height: 2.25rem;
    color: #666666;
    line-height: 3.125rem;
    margin: 1vw 2vw;

}





footer{
    background-color: #212120;
    display: flex;
    flex-direction: column;
    color:white;
    margin: 0;
}

.dentro a{
    color: white;
    text-decoration: none;
}

.imgfooter{
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 0%;
    margin: 0;
}

.imgfooter img{
    margin-right: 0.5vw;
    margin-left: 0.5vw;
}

.textFooter{
    display: flex;
    flex-direction: column;
    margin-bottom: 3vh;
    justify-content: center;
    align-items: center;
    padding-top: 7vh;
}

.Homefooter{
    display: flex;
    justify-content: center;
    margin-top: 7vh;
    padding-bottom: 15vh;
}

.dentro{

    width: 40vw;
    justify-content: space-between;
    display: flex;
}

.textFooter p{
    text-align: center;
    margin: 0;
    margin-bottom: 1vh;
}#Addres{
    border-bottom: #666666 solid;
    width: 16vw;
    font-size: 2rem;
    margin-bottom: 2.5vh;
}

@media(width >=1500px){
    
    #Addres{
        font-size: 10rem;
    }.textFooter p{
        font-size: 4rem;
    }
    .dentro a{
        font-size: 4rem;
    }
}@media(width <= 768px){
    .dentro{
        flex-wrap: wrap;
        justify-content: center;
    }.dentro a{
        margin-right: 3vw;
    }
}
