@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

#imgFundoEscura {
    display: flex;
    gap: 60%;
    background-color: green;
}

#cinquenta {
    margin: 60px;
    color: white;
    text-align: center;
    justify-content: center;
}

button {
    color: black;
    background-color: white;
    border: none;
    border-radius: 5%;
    width: 120%;
    justify-content: center;
    height: 8%;
}

#textoCinquenta {
    font-family: "Poppins", sans-serif;
    text-align: end;
    justify-content: end;
    color: white;
}

#H5 {
    display: flex;
    justify-content: end;
    border-bottom: solid white 5px;
    font-family: "Poppins", sans-serif;
}

#more {
    width: 25%;
    height: 9%;
}

.menu {
    display: none;
    width: 90vw;
    height: 6vh;
    background-color: #308409;
}

#welcome {
    color: #308409;
    margin-bottom: -3vh;
}

#cima,
#baixo {
    display: flex;
    justify-content: space-between;
    width: 95vw;
}

.imgMenor {
    width: 22.5vw;
}

.imgMaior {
    width: 47.5vw;
}

#imgGaleria {
    height: 89vh;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
}

#galeria h1, .vitrine h1 {
    align-items: center;
    text-align: center;
    width: 21vw;
    font-size: 3.5rem;
    border-bottom: solid #308409 7px;
}

#galeria {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
}

header {
    display: flex;
    margin-top: 6vh;
    text-transform: uppercase;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
}

.lupa {
    width: 2vw;
    background-image: url(img/search_icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.pesquisa {
    display: flex;
    font-size: 1.3rem;
    width: 50vw;
    justify-content: space-around;
    color: #222222;
    font-weight: 500;
}

.logo {
    width: 17vw;
    height: 11vh;
    background-image: url(img/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.paginaInicial {
    height: 110vh;
    background-image: url(img/banner.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2vh;
    width: 82vw;
}

button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 0.4rem;
    width: 11vw;
    height: 6vh;
    font-size: 1.8rem;
    margin-top: 5vh;
}

.btn {
    width: 23vw;
    display: flex;
    justify-content: space-between;
}

.vitrine h1 {
    width: 35vw;
}

.vitrine {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vitrine p {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 5vh;
}

.info {
    width: 51vw;
    margin-top: 15vh;
}

.info h2 {
    font-size: 3.9rem;
    margin: 0;
    padding: 0;
}

.info p {
    font-size: 1.4rem;
    color: #666666;
    line-height: 2.3rem;
    margin: 1vw 0vw 1vw 0;
}

.container img {
    margin-top: 3vh;
    width: 44vw;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    width: 88vw;
    justify-content: space-between;
    margin-left: 4vw;
    align-content: space-between;
    height: 180vh;
}

.cards {
    box-shadow: 0px 0 2px 1px rgba(207, 207, 207, 0.705);
    width: 28vw;
}

.cards img {
    width: 28vw;
}

.cards h2 {
    font-size: 2.5rem;
    color: #050303;
    line-height: 3.125rem;
    margin: 1vw 2vw;

}

.cards p {
    font-size: 1.6rem;
    line-height: 2.25rem;
    color: #666666;
    line-height: 3.125rem;
    margin: 1vw 2vw;
}

footer {
    background-color: #212120;
    display: flex;
    flex-direction: column;
    color: white;
    margin: 0;
}

.dentro a {
    color: white;
    text-decoration: none;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 1rem;
}

.imgfooter {
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 0%;
    margin: 0;
}

.imgfooter img {
    margin-right: 0.5vw;
    margin-left: 0.5vw;
}

.textFooter {
    display: flex;
    flex-direction: column;
    margin-bottom: 3vh;
    justify-content: center;
    align-items: center;
    padding-top: 7vh;
}

.Homefooter {
    display: flex;
    justify-content: center;
    margin-top: 7vh;
    padding-bottom: 15vh;
}

.dentro {

    width: 40vw;
    justify-content: space-between;
    display: flex;
}

.textFooter p {
    text-align: center;
    margin: 0;
    margin-bottom: 1vh;
    font-size: 1rem;
}

#Addres {
    border-bottom: #666666 solid;
    width: 15rem;
    font-size: 3rem;
    margin-bottom: 2.5vh;
}

@media (width <=1789px) {
    #imgGaleria {
        height: 67vh;
    }

    button {
        width: 13vw;
    }

    .btn {
        width: 30vw;
    }

    .vitrine h1 {
        width: 50vw;
    }

    .galeria {
        height: 180vh;
    }

    #galeria h1 {
        width: 30vw;
    }
}

@media (width <=1200px) {
    html {
        font-size: 10px;
    }

    #cima,
    #baixo {
        width: 100vw;
    }

    #imgGaleria {
        width: 90vw;
        height: 37vh;
    }

    .imgMenor {
        width: 22vw;
    }

    .imgMaior {
        width: 42vw;
    }

    .paginaInicial {
        height: 95vh;
    }

    #welcome {
        width: 40.5vw;
        margin-bottom: 0.01vh;
    }

    .galeria {
        height: 118vh
    }

    .logo {
        height: 5vh;
    }
}

@media (width <=800px) {

    html {
        font-size: 16px;
    }
}

@media (max-width: 768px) {

    #cima,
    #baixo {
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 82%;
        height: 117vh;
    }

    #galeria img {
        width: 90%;
    }

    #galeria h1 {
        width: 45vw;
    }

    #imgGaleria {
        height: 237vh;
    }

    .galeria {
        display: flex;
        flex-wrap: wrap;
        width: 70vw;
        height: 505vh;
    }

    .cards {
        width: 70vw;
    }

    .vitrine h1 {
        text-align: center;
        width: 80vw;
    }

    .vitrine #pCards {
        text-align: center;
        width: 70vw;
    }

    .cards img {
        width: 70vw;
    }

    .container img {
        display: none;
    }

    .info {
        width: 100vw;
        margin-top: 9vh;
    }

    .info h2 {
        font-size: 3.5rem;
        width: 80vw;
    }

    #welcome {
        width: 80vw;
    }

    button {
        width: 30vw;
    }

    .btn {
        width: 65vw;
    }

    .pesquisa {
        display: none;
    }

    .logo {
        width: 80vw;
        height: 20vh;
    }

    .menu {
        display: block;
    }

    .paginaInicial {
        height: 100vh;
    }
    .dentro{
        display: flex;
        flex-wrap: wrap;
    }


}

#caixadecontato{
    background-color: #308409;
    display: flex;
    flex-direction: column;
    height: 54vh;
    align-items: center;
}


.contatusus{
    display: flex;
    margin-left: 3vw;
    margin-right: 3vw;
    height: 100vh;
}

.fotocontatus{
    background-image: url(img/contactimg.jpg);
    height: auto;
    width: 60vw;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}#titlecontatus{
    margin-left: 5vh;
    padding: 0;
    margin-bottom: 7vh;
    border-bottom: solid #308409 7px;
    width: 21rem;
    height: 8vh;
}#titlecontatus h1{
    font-size: 3.5rem;
}

.map img{
    height: 46vh;
}

#nome{
    width: 90%;
    height: 15%;
    margin-top: 7%;
    margin-bottom: 2.5%;
    font-size: 1.5rem;
    text-indent: 1rem;
    border: solid #666666 1px;
}

#email{
    width: 90%;
    height: 15%;
    margin-bottom: 2.5%;
    font-size: 1.5rem;
    text-indent: 1rem;
    border: solid #666666 1px;
}
#telefone{
    width: 90%;
    height: 15%;
    margin-bottom: 2.5%;  
    font-size: 1.5rem;
    text-indent: 1rem;
    border: solid #666666 1px;
}

#mensagem{
    width: 90%;
    height: 20%;
    font-size: 1.5rem;
    text-indent: 1rem;
    line-height: 4rem;
    border: solid #666666 1px;
    
}

#caixadecontato div{
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.textcontactus{
    border: white solid 4px;
    width: 70%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem
}
.textcontactus p{
    color: white;
    
}

.contemap{
    width: 30vw;
    height: 100vh;
}

#lermais{
    background-color: red;
    border-radius: 22px;
    height: 13%;
    width: 40%;
    text-align: center;
    font-size: 2rem;
    color: white;
    transition: background-color 0.4s ease;
    box-shadow: none;
    border: none;
    
}

#lermais:hover {
    background-color: #050303;
    cursor: pointer; 
}



@media(width <=768px) {
    .dentro {
        flex-wrap: wrap;
        justify-content: center;
    }


*{
    margin: 0;
    padding: 0;
}
}
